display: grid;
width: 1920px;
height: 1080px;
padding: 16px;
row-gap: 12px;
column-gap: 8px;
aspect-ratio: 16/9;
grid-template-rows: repeat(8, minmax(0, 1fr));
grid-template-columns: repeat(8, minmax(0, 1fr));
